@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
}

.container {
  @apply mx-auto;
  width: 1430px;
  float: none;
  display: block;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  position: relative;
}

.button-primary:hover {
  background-color: #f27002;
}

.button-action:hover {
  background-color: #443e40;
}

@media (min-width: 1680px) {
  .container {
      width: 1680px;
      max-width: 1680px;
  }
}

@media (min-width: 1260px) and (max-width: 1499px) {
  .container {
      width: 1230px;
  }
}
